.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:5px;
}
.img-overlay{
    position: absolute;
    width: 100%;
    display: inline-flex;
    height: 100%;
}
.right-overlay{
    width: 70%;
    

}
.left-overlay{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.content-body{
    padding-top: 40px;
}

.grid-item{
    padding: 20px;
}
@media(max-width: 600px){
    .grid-container{
        grid-template-columns: repeat(1,1fr);
    }
}
.grid-container2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}
@media(max-width: 600px){
    .grid-container2{
        grid-template-columns: repeat(1,1fr);
    }
}
.socialmedia{
    width: 70px;
    height:70px;
}
.download-btn{
    display: flex;
    position: absolute;
    bottom: 70px;
    
    width: inherit;
    justify-content: center;
    
}
.cvimage{
    width:300px; 
    height:300px;
}
@media(max-width: 925px){
    .cvimage{
        width:115%; 
        height:50%;
    }
}

.typing-text {
    overflow: hidden;
    /* border-right: .15em solid orange; /* The typing cursor 
    white-space: nowrap; */
    letter-spacing: .12em;
    animation: typing 4s steps(100, end), blink-caret .109s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 60% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}